@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: hsl(300, 50%, 92%);
    --color-secondary: hsl(6, 87%, 24%);
    /* --color-tertiary: hsl(360, 41%, 71%); */
    --color-tertiary: hsl(305, 58%, 96%);
    --font-montserrat: "Montserrat", serif;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

/* fonts */

.montserrat-semibold {
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-semibold);
    font-style: normal;
}

.montserrat-bold {
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-bold);
    font-style: normal;
}

.montserrat-black {
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-black);
    font-style: normal;
}

/* common */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: "Montserrat", serif;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin: 0 auto;
}

/* countdown page */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-tertiary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 1;
    width: clamp(300px, 60%, 700px);
    height: clamp(200px, 35%, 400px);
}

.container h1 {
    width: 80%;
    gap: 40px;
    margin: 0;
}

.countdown {
    width: 100%;
}

.countdown ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.countdown li {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#days, #hours, #minutes, #seconds {
    font-size: 4rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        margin-top: 200px;
        height: clamp(200px, 100%, 1000px);
    }

    .container h1 {
        gap: 20px;
        margin-top: 160px;
    }
}

/* home page */

.message {
    font-size: 18px;
    margin: 10px 0;
    width: 90%;
}

.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 100%;
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.hearts-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.heart {
    position: fixed;
    bottom: 0;
    font-size: 24px;
    opacity: 0.8;
    animation: riseUp 5s linear infinite;
}

@keyframes riseUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(0.5);
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}