<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>countdown</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src = "{{ url_for('static', filename='js/countdown.js') }}"></script>
</head>
<body>
    <script>
        const valentinesDay = "{{ valentines_day }}";
    </script>
    <div class="container">
        <h1>Countdown to Valentine's Day 🎀</h1>
        <div class="countdown">
            <ul>
                <li>
                    <span id="days"></span>
                    <span class='label'>Days</span>
                </li>
                <li>
                    <span id="hours"></span>
                    <span class='label'>Hours</span>
                </li>
                <li>
                    <span id="minutes"></span>
                    <span class='label'>Minutes</span>
                </li>
                <li>
                    <span id="seconds"></span>
                    <span class='label'>Seconds</span>
                </li>
              </ul>
            </div>
        </div>
    </div>
</body>
</html>