<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOHOO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><text x='0' y='14' font-size='16'>💖</text></svg>">
    <script defer src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>
<body>
    <body>
        <div class="container">
            <h1>Happy Valentine's Day, Pineapple 💖</h1>
            <p class="message">
                i love you.
            </p>
                <div class="spotify-code">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4cER9q4ZASRyKfT31NJJwx?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="eager"></iframe>
                </div>    
            <div class="gallery">
                <img src="{{ url_for('static', filename='images/img1.jpg') }}">
                <img src="{{ url_for('static', filename='images/img2.jpg') }}">
                <img src="{{ url_for('static', filename='images/img3.jpg') }}">
            </div>
        </div>
        <div class="hearts-container"></div>
    </body>
</html>